* {
  margin: 10px;
  padding: 0;
}
h1 {
  text-align: center;
  color: red;
}

h3 {
  color: lightblue;
}
img {
  width: 100%;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.card-body {
  padding: 10px;
}
